@model IEnumerable<Spor_Salonu.Models.Duyurular>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Site.cshtml";
}
@{String[][] aylar ={ new String[] { "","Ocak","Şubat","Mart","Nisan","Mayıs","Haziran","Temmuz","Ağustos","Eylül" },
                         new String[] { "Ekim","Kasım","Aralık" }}; }

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(@Url.Content("~/content/")images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Kuvvet Fiziksel Kapasiteden Gelmez. Yılmayan Bir İradeden Gelir</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(@Url.Content("~/content/")images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Harika Bir Başlangıç Yapmanız Gerekmiyor. Fakat Harika Olmak İçin Başlamanız Gerekiyor</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(@Url.Content("~/content/")images/img_bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Yavaş Da Olsa İlerlemek, Hiç İlerlememekten İyidir</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(@Url.Content("~/content/")images/img_bg_4.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Acı Yoksa, Kazanç Yok</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="colorlib-intro" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-wrap animate-box">
                <div class="intro-flex">
                    <div class="one-third intro-img" style="background-image: url(@Url.Content("~/content/")images/intro-img-1.jpg)">
                        <div class="desc">
                            <h3>Vücut Geliştirme</h3>
                            <p>Fitness Antrenman ve Beslenme Programları İle En Hızlı Şekilde Hacim Kazandırıyoruz.</p>
                            <span class="price text-center">100₺<br><small>/Aylık</small></span>
                        </div>
                    </div>
                    <div class="one-third intro-img" style="background-image: url(@Url.Content("~/content/")images/intro-img-2.jpg)">
                        <div class="desc">
                            <h3>Kardiyo Programı</h3>
                            <p>Kardiyo Ve Beslenme Programları İle Sizlerin En Hızlı ve En Kalıcı Şekilde Yağ Yakmanız Sağlanır.</p>
                            <span class="price text-center">100₺<br><small>/Aylık</small></span>
                        </div>
                    </div>
                    <div class="one-third intro-img" style="background-image: url(@Url.Content("~/content/")images/intro-img-3.jpg)">
                        <div class="desc">
                            <h3>Aerobik Programı</h3>
                            <p>Aerobik programıyla, Katılımcılara Sağlıklı Bir Yaşam İçin Spor Bilinci Ve Kültürü Kazandırılır.</p>
                            <span class="price text-center">100₺<br><small>/Aylık</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="colorlib-services" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2>Hemen Kayıt Olun</h2>
                <a href="@Url.Action("OnKayit","Home")" class="btn btn-success btn-flat">ÖN KAYIT</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2>Fit Olmak Çekicidir</h2>
                <p>Fit Olmak İnsanın Yaşam Kalitesini Arttırır Ve Hepsinden Öte Kendini İyi Hissetmeni Sağlar</p>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-trainers">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2>Deneyimli Eğitmenlerimiz</h2>
                <p>Siz Spor Severlere En İyi Hizmeti Vermek İçin Alanında Uzman Eğitmenlerimizle Gelişiminize Katkı Sağlamak İçin Hazırız</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-3 animate-box">
                <div class="trainers-entry">
                    <div class="trainer-img" style="background-image: url(@Url.Content("~/content/")images/trainer-1.jpg)"></div>
                    <div class="desc">
                        <h3>POLAT DEMİRTAŞ</h3>
                        <span>Body Building Trainer | Personal Trainer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-3 animate-box">
                <div class="trainers-entry">
                    <div class="trainer-img" style="background-image: url(@Url.Content("~/content/")images/trainer-2.jpg)"></div>
                    <div class="desc">
                        <h3>TURGAY</h3>
                        <span>Sporty Director | Personal Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3 animate-box">
                <div class="trainers-entry">
                    <div class="trainer-img" style="background-image: url(@Url.Content("~/content/")images/trainer-4.jpg)"></div>
                    <div class="desc">
                        <h3>MURAT</h3>
                        <span>Running Trainer | Personal Trainer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-event colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2>Duyurular</h2>
            </div>
        </div>  
        <div class="row row-pb-sm">
            @foreach (var duyuru in Model)
            {
                <div class="col-md-4 animate-box">
                    <div class="event-entry" style="background-color:white">
                        <div class="desc">
                            <p class="meta"><span class="day">@Convert.ToString(@duyuru.tarih.Day)</span><span class="month">@if(@duyuru.tarih.Month.ToString().Length > 1) {  @aylar[Convert.ToInt32(duyuru.tarih.Month.ToString().First())][Convert.ToInt32(duyuru.tarih.ToString().ElementAt(1))] } else {@aylar[0][Convert.ToInt32(duyuru.tarih.Month)]}       </span></p>
                            <p class="organizer"><span>@duyuru.duyuru_adi</span></p>
                            <h2>@duyuru.duyuru_konu</h2>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-12"><a href="@Url.Action("Duyurular","Home")"><span style="position:absolute;right:0px">Tüm Duyurular <i class="glyphicon glyphicon-circle-arrow-right"></i></span></a></div>
        </div>       
    </div>
</div>
@*<div class="colorlib-blog colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Recent Blog</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image: url(@Url.Content("~/content/")images/blog-1.jpg);">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation?</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image: url(@Url.Content("~/content/")images/blog-2.jpg);">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation?</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image: url(@Url.Content("~/content/")images/blog-3.jpg);">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation?</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>*@

